/* .App {
  height: screen;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
} */
#canvas-parent {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;

  width: 1000px;
}